<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Название</title>
</head>
<body>
<h1>Заголовок страницы </h1>
<p> Основной текс страницы</p>
<p> Основной текс страницы Основной текс страницы Основной текс страницы Основной текс страницы Основной текс страницы
    Основной текс страницы</p>

<h1>Заголовок 1</h1>
Заголовок страницы
<h2>Заголовок 2</h2>
<h3>Заголовок 3</h3>
<h4>Заголовок 4</h4>
<h5>Заголовок 5</h5>
<h6>Заголовок 6</h6>

<img src="https://ci3.googleusercontent.com/meips/ADKq_Nar0JIj1sLIhtrv2Pd5KMIcPWjDZmGQbwpTpIhXCr6BYNdFAyHsuPrK96vsBV08Et7bvG6-QojnCI5G9Ij2dMoHKSvMNzJaux-8V2GqOCpQ83DLLgIhw0fsvw=s0-d-e1-ft#https://github.githubassets.com/assets/octocat-logo-805b5c3e249f.png" alt="Описание изображения">

<a href="https://example.com">Перейти на сайт</a>

<div class="container">
    <h2>Заголовок блока</h2>
    <p>Текст внутри блока</p>
</div>

<form action="/submit" method="POST">
  <input type="text" name="username">
  <button type="submit">Отправить</button>
</form>
<input type="text" placeholder="Введите ваше имя">

<button type="submit">Отправить</button>

<span style="color: green;">Красный текст</span>

<!-- Добавить placeholder -->
<input type="text" placeholder="Username">

<!-- Добавить идентификатор -->
<button id="login-button" type="submit">Login</button>

<!-- Добавить класс стилей -->
<p class="common-styles">styles</p>

<ul>
  <li>Пункт 1</li>
  <li>Пункт 2</li>
</ul>
<ol>
  <li>Первый пункт</li>
  <li>Второй пункт</li>
</ol>


</body>
</html>